<div class="card">
  <h2 class="card-header text-left">
    Users 
  </h2>
 <table class="table table-hover text-center">
  <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Full name</th>
      <th scope="col">Email</th>
       <th scope="col">Day of birth</th>
       <th scope="col">Permission</th>
      <th scope="col" class="text-right">
        <a href="/account/renewal" class="btn btn-outline-success" role="button">Gia hạn</a>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each this.allUsers}}
       <tr>
           <th scope="row">{{f_ID}}</th>
           <td>{{f_Username}}</td>
           <td>{{f_Name}}</td>
           <td>{{f_Email}}</td>
           <td>{{day}}/{{month}}/{{year}}</td>
           <td>{{f_Permission}}</td>
           <td class="text-right">
              <a class="btn btn-primary btn-sm" href="/account/editpermission/{{f_ID}}" role="button" title="Edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
           </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>