{{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<style>
.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}
</style>
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
<script>
      var t = u;

  $(function () {
     $('#fuMain').fileinput({
      theme: 'fa',
      dropZoneEnabled: false,
      allowedFileExtensions: ['png', 'jpg', 'gif'],
      uploadClass: 'btn btn-success',
      uploadUrl: '/upload',
      uploadAsync: false,
    });
    
    $("#Avatar").fileinput({
    theme: 'fa',
    overwriteInitial: true,
    maxFileSize: 1500,
    showClose: false,
    showCaption: false,
    browseLabel: '',
    removeLabel: '',
   // browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
    //removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
    removeTitle: 'Cancel or reset changes',
    elErrorContainer: '#kv-avatar-errors-1',
    msgErrorClass: 'alert alert-block alert-danger',
   defaultPreviewContent: t,
    layoutTemplates: {main2: '{preview} ' + ' {remove} {browse}'},
    allowedFileExtensions: ["jpg", "png", "gif"]
});
    $('#editproductForm').validate({
      rules: {
        TitleName: {
          required: true,
        },
        MainContent: {
          required: true,
          },          
      },
      messages: {
        TitleName: {
          required: 'Bạn chưa nhập tiêu đề.'
        },
        MainContent: {
          required: 'Bạn chưa nhập nội dung chính.'
        },
      },
      errorElement: 'small',
      errorClass: 'help-block text-danger',
      validClass: 'is-valid',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      },
    });
  })
</script>
<script>
  $(function () {

    tinymce.init({
      selector: '#txtFullContent',
      menubar: false,
      height: 600,
      plugins: 'paste image link autolink lists table media',
      toolbar: [
        'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
        'forecolor backcolor',
        'table link image media',
        // 'paste'
      ],
      image_caption: true,
    });
  })
</script>
{{/section}}
<form action="" method="POST" id="editproductForm">
<div class="card shadow">
   <div class="card-header bg-info text-white text-center py-2">
    <h3><i class="fas fa fa-plus-square"></i>  Sửa Bài Viết </h3>
   </div>
  {{#each editproducts}}
  <div class="card-body">
    <div class="form-group">
     <a href="/products/editCate/{{ProID}}" class="btn btn-primary mt-3 ml-3" type="buton">
         <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; Chuyên mục bài viết</a>
     </div>

      <div class="form-group">
        <label for="txtTitleName">Tiêu đề</label>
        <textarea class="form-control" id="txtTilteName" name="TitleName">{{TitleName}}</textarea>
      </div>

      <div class="form-group">
        <label for="txtMainContent">Nội dung chính</label>
        <textarea class="form-control" id="txtMainContent" name="MainContent">{{MainContent}}</textarea>
      </div>
      {{!--  --}}
       <div class="form-group">
        <label for="fuMain">Upload ảnh</label>
        <div class="file-loading">
          <input id="fuMain" name="fuMain" type="file" multiple>
        </div>
      </div>
      {{!--  --}}
      <script>
        var u = `<img src="/imgs/{{Avatar}}" alt="Your Avatar" style="width: 350px;">`;
      </script>
      <div class="form-group"></div>
       <div class="col-sm-4 text-center">
        <div class="kv-avatar">
            <div class="file-loading">
                <input id="Avatar" name="Avatar" type="file" >
            </div>
        </div>
       </div>
      </div>
     {{!--  --}}
      <div class="form-group">
        <label for="txtFullContent">Thân bài</label>
        <textarea class="form-control" id="txtFullContent" name="FullContent">{{FullContent}}</textarea>
      </div>
  </div>
    {{/each}}
    <div class="form-group card-footer" style="background: #E6E6FA;">
            <div class="text-right">
              <a class="btn btn btn-success" href="/products" role="button">
                <i class="fa fa-backward"></i>
                Back
              </a>
              <button class="btn btn-info" type="submit">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Save
              </button>
            </div>
    </div>
</div>
</form>